extends layout

block content
	.header
		a.logo
	.filters
		ul
			li 
				a(href='/#/sc2') sc2
			li 
				a(href='/#/bw') bw
	.events	
		ul
			li
				a(href='/#/sc2/...')
	.streams
		ul.featured
			li
				a(href='/#/sc2/...')
		ul.stream
			li
				a(href='/#/sc2/...')
				


